<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="header">
		<th:block class="container">
		    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		      <div class="col-md-3 mb-2 ms-3 mb-md-0">
		        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
		          <i class="bi bi-controller" width="40" height="32" role="img" aria-label="Bootstrap" style="font-size: 45px"><use xlink:href="#bootstrap"/></i>
		        </a>
		      </div>
		      <th:block th:if="${@sessionAccount == null || @sessionAccount.getName() == null || @sessionAccount.getName().length() == 0}">
			      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
			        <li><a class="nav-link px-2" href="/posts"><i class="fas fa-mail-bulk"></i>ホーム</a></li>
			        <li><a href="#" class="nav-link px-2">FAQ</a></li>
			        <li><a href="#" class="nav-link px-2">概要</a></li>
			      </ul>
			
			      <div class="col-md-3 text-end me-3">
					<a class="btn btn-outline-primary me-2" href="/account/sign_in">
						ログイン
					</a>
					<a class="btn btn-primary" href="/account/sign_up">
						サインアップ
					</a>
			      </div>
		      </th:block>
		      
		      <th:block th:if="${@sessionAccount != null && @sessionAccount.getName() != null && @sessionAccount.getName().length() != 0}">
				  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
			        <li><a class="nav-link px-2" href="/posts"><i class="fas fa-mail-bulk"></i>ホーム</a></li>
			        <li><a class="nav-link px-2" href="/my_page"><i class="fas fa-user"></i>マイページ</a></li>
			        <li><a href="#" class="nav-link px-2">FAQ</a></li>
			        <li><a href="#" class="nav-link px-2">概要</a></li>
			      </ul>
			
			      <div class="col-md-3 text-end me-3">
					<a class="btn btn-danger" href="/logout">
						<i class="fas fa-sign-out-alt"></i>LogOut
					</a>
			      </div>
			  </th:block>
		   </header>
		</div>
	</div>
</body>
</html>