<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layouts/template}">
<head>
<meta charset="UTF-8">
<title>プロフィール編集</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
				<div>
					<form action="/my_page/edit" method="post">
						<table>
							<tr>
							  <th>ユーザーID</th>
							  <td>
							    <input type="text" name="id" th:value="${account.id}" placeholder="ユーザーID">
							  </td>
							</tr>
							<tr>
							  <th>ユーザー名</th>
							  <td>
							    <input type="text" name="name" th:value="${account.name}" placeholder="ユーザー名">
							  </td>
							</tr>
							<tr>
								<th>メールアドレス</th>
								<td><input type="text" name="email" th:value="${account.email}" placeholder="メールアドレス"></td>
							</tr>
							<tr>
							  <th>パスワード</th>
							  <td>
							    <input type="text" name="password" th:value="${account.password}" placeholder="パスワード">
							  </td>
							</tr>
							<tr>
							  <th>生年月日</th>
							  <td>
							    <input type="date" name="birthday" th:value="${account.birthday}">
							  </td>
							</tr>
							<tr>
							  <th>自己紹介文</th>
							  <td>
							    <textarea name="introduction" placeholder="自己紹介文">[[${account.introduction}]]</textarea> 
							  </td>
							</tr>
						</table>
						<button>登録</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>