<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layouts/template}">
<head>
<meta charset="UTF-8">
<title>ユーザーページ</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-8 offset-md-1">
					<table>
						<tr>
							<img th:src="${imagePath}" onerror="this.src='/images/no_image.png'" width="100px" height="100px">
						</tr>
						<tr>
							<td><a href="/my_page/edit" class="btn btn-success">プロフィール編集</a></td>
						</tr>
						<tr>
							<th>名前</th>
							<th th:text="${account.name}"></th>
						</tr>
						<tr>
							<th>メールアドレス</th>
							<th th:text="${account.email}"></th>
						</tr>
						<tr>
							<th>生年月日</th>
							<th th:text="${account.birthday}"></th>
						</tr>
						<tr>
							<th>紹介文</th>
							<td th:text="${account.introduction}"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>