<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<ul th:each="error: ${errors}">
		<li th:text="${error}"></li>
	</ul>
	<h1>新規登録</h1>
	<form action="/account/sign_up" method="post">
		<table>
			<tr>
				<th>ユーザーID</th>
				<td>
					<input type="text" name="id" placeholder="ユーザーID">
				</td>
			</tr>
			<tr>
				<th>ユーザー名</th>
				<td>
					<input type="text" name="name" placeholder="ユーザー名">
				</td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td>
					<input type="text" name="email" placeholder="メールアドレス">
				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<input type="text" name="password" placeholder="パスワード">
				</td>
			</tr>
			<tr>
				<th>生年月日</th>
				<td>
					<input type="date" name="birthday">
				</td>
			</tr>
			<tr>
				<th>自己紹介文</th>
				<td>
					<textarea name="introduction" placeholder="自己紹介文"></textarea> 
				</td>
			</tr>
		</table>
		<button>登録</button>
	</form>
</body>
</html>