<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layouts/template}">
<head>
<meta charset="UTF-8">
<title>投稿詳細ページ</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>投稿詳細ページ</h1>
		<p th:text="${post.name}"></p>
		<p th:text="${post.body}"></p>
		<a th:href="'/posts/' + ${post.id}">[[${#temporals.format(post.updatedAt, 'yyyy-MM-dd HH:mm')}]]</a>
		
		<th:block th:if="${myFavorites.contains(post.Id) == true}">
			<a href="javascript:favorite.submit()"><i class="fas fa-heart"></i></a>
			[[${favoriteCount}]]
			<form th:action="'/posts/' + ${post.id} + '/favorites'" method="post" name="favorite"></form>
		</th:block>
		<th:block th:unless="${myFavorites.contains(post.Id) == true}">
			<a href="javascript:favorite.submit()"><i class="far fa-heart"></i></a>
			[[${favoriteCount}]]
			<form th:action="'/posts/' + ${post.id} + '/favorites'" method="post" name="favorite"></form>
		</th:block>
		
		<form th:action="'/posts/' + ${post.id} + '/delete'" method="post" th:if="${@sessionAccount.id == post.userId}">
			<button class="btn btn-danger">削除</button>
		</form>
	</div>
</body>
</html>